@import '../../index.scss';

.cardListContainer {
    position: relative;
    width: 290px;
    height: 183px;
    margin: auto;
    border-radius: 16px;
    .cardCover {
        cursor: default;
        position: absolute;
        bottom: 0;
        border-radius: 16px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.30); /* Black see-through */
        color: #f1f1f1;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;

        button {
            margin-right: 5px;
            margin-left: 5px;
            margin-top: 25%;
            font-size: 18px;
        }
    }
    :hover {
        opacity: 1;
    }
}

.emptyCardListContainer {
    position: relative;
    width: 290px;
    height: 183px;
    margin: auto;
    border-radius: 16px;
    background-color: rgb(240, 240, 240);
    border: 4px dashed lightgrey;
    padding-bottom: 20px;
    p {
        color: lightgrey;
        font-size: 115px;
        font-weight: bold;
        margin: 0;
        text-align: center;
    }
}

.carousel{
    margin: 100px 0px 0px 0px;
    padding: 0px 90px 0px 90px;
}

.carouselItem {
    padding: 0px;
    margin: 0px;
}
.carousel-control-next {
    
}

.carousel-indicators {
    
}

.carousel-inner{
    overflow:auto !important;
}