@import '../../index.scss';

.headerContainer {
    display: grid;
    grid-template-areas: 'myCard myCard myCard profileImg' 'user user user profileImg';
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 10px 0px;
    background-color: $primary-background;
        .myCardTitle{
            grid-area: myCard;
            width: 100%;
            margin: 0px;
            padding-left: 35px;
            font-size: 45px;
            text-align: left;
         }
         .userName {
             grid-area: user;
             margin: 0px;
             font-size: 24px;
             text-align: left;
             padding-left: 35px;
         }
         .imgContainer {
            grid-area: profileImg;
         }
         .profileImg {
            box-shadow: 2px 2px 5px 0px lightgrey;
            border-radius: 50px;
            width: 96px;
            height: 96px;
            margin: 0px !important;
         }

}